@import 'setup';
@import 'dashboard';
@import'browse-job';

.news-main-container{
    background-color: $white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    
}
.news-container{
    margin-top: 20px;
}
.news-img img{
    width: 100%;
}
.read-more span{
    padding-left: 5px;
}
.news-title{
    margin-top: 15px;
}
.category{
    float: right;
    padding-right: 5px;
}
.category span{
    padding-right: 3px;
}
.news-author{
    margin: 0;
    margin-top: 13px;
    padding-bottom: 5px;
}
.news-date{
    margin-bottom: 35px;
}
.news-author span{
    padding-right: 5px;
}
.news-date span{
    padding-right: 5px;
}
.news-body-container{
    width: 70%;
    margin: 0 auto;
    padding: 40px 0;
}
.news-body-container img{
    width: 100%;
    padding-bottom: 40px;
}

#news .arrow-bg{
    width: 10%;
}