$lightGrey: #d1d1d1;
$darkGrey: #565656;
$purple: #A7183F;
$orange: #F0493F;
$white: #fff;
$sideBarWidth: 20%;
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Avenir", sans-serif;
    font-size: 16px;
    background-color: rgba($color: $lightGrey, $alpha: 0.1);
    color: $darkGrey;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.show-flex {
    display: flex !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.read-more {
    color: $darkGrey;
    &:hover {
        color: $darkGrey;
        text-decoration: none;
    }
}

a {
    color: $darkGrey;
    &:hover {
        color: $darkGrey;
        text-decoration: none;
        &:focus {
            color: $darkGrey;
            text-decoration: none;
        }
    }
    &:focus {
        color: $darkGrey;
        text-decoration: none;
    }
}
